# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.10

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip
    - venv/

default:
  before_script:
    - python --version  # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - apt update
    - pip install .

# flake8 ignore rules:
# E501 = Line too long
# W503 = Line break occurred before a binary operator

lint:
  script:
    - pip install flake8
    # ignore __init__.py from linting because of "F401 '._version.__version__' imported but unused"
    # temporary workaround for version import setup.cfg
    - flake8 pptreport tests --ignore=E501,W503 --extend-exclude=pptreport/__init__.py
  allow_failure: false
  rules:
    - when: always

tests:
  coverage: '/TOTAL.*\s(\d*.\d*\%)/'
  script:
    - pip install pytest
    - pip install pytest-cov
    - pip install pandas  # needed for tests to create dataframe
    - pytest --cov-report=term --cov=pptreport  --junitxml=pytest.xml --cov-report html:htmlcov .
  artifacts:
    when: always
    paths:
      - pytest.xml
      - htmlcov
    reports:
      junit: pytest.xml
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" # all MR
      changes:
      - tests/*.py
      - pptreport/*.py
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" # all MR
      when: manual  # if changes in files; or if manual
      allow_failure: True  # the manual rule is allowed to fail
    - if: $CI_COMMIT_BRANCH == "dev"  # all commits to dev
    - if: $CI_COMMIT_BRANCH == "main" # or main; ensures that coverage is available for badges

#Test notebooks when code is pushed to main
notebooks:
  image: continuumio/miniconda3:latest
  tags:
    - gwdg
    - gwdg-shared
  inherit:
    default: false  #do not install virtual env for this job
  script:
    - pip install papermill
    - conda install -c conda-forge mamba
    - mamba env create -f pptreport_env.yml --force #mamba is faster at creating envs than conda
    - conda init bash
    - source ~/.bashrc
    - conda activate pptreport
    - python -m ipykernel install --user --name pptreport
    - cd examples
    - pptreport --config report_config.json --output report.pptx        # test that commandline interface is working
    - papermill --log-output write_report.ipynb out.ipynb -k pptreport  # test notebooks
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

build-pages:
  script:
    - apt-get update -qq && apt-get install -qq -y pandoc
    - pip install sphinx sphinx-rtd-theme sphinxcontrib-images
    - pip install myst_parser
    - apt -y install libreoffice  # for creating pdf
    - apt -y install zip
    - pip freeze | grep sphinx
    - cd docs
    - make html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main" # after accepted MR to main
    - when: manual  # otherwise manual
      allow_failure: True  # manual is not required

# Deploy pages to test docs for branch
deploy-pages-MR:
  needs: 
    - job: build-pages
      artifacts: True
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: "https://loosolab.pages.gwdg.de/-/software/pptreport/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html"
  artifacts:
    paths:
      - docs/build/html/
  script: 
    - ls -l docs/
    - echo "deploy"
  artifacts:
    paths:
      - docs/build/html/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      allow_failure: True
  
# Deploy documentation to public pages if it was the main branch
pages:
  stage: deploy
  needs:
    - job: build-pages
      artifacts: True
  inherit:
    default: false
  script:
    - mv docs/build/html/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main" # after accepted MR to main
